.m\(auto\){
margin: auto;
}
.m\(0\){
margin: 0;
}
.p\(0\){
padding: 0;
}
.p\(0\,\!important\){
padding: 0 !important;
}
.w\(100\%\){
width: 100%;
}
.d\(flex\){
display: flex;
}
.w\(8\%\){
width: 8%;
}
.fz\(28px\){
font-size: 28px;
}
.w\(92\%\){
width: 92%;
}
.bd\(none\){
border: none;
}
.p\(\.8rem\){
padding: .8rem;
}
.bdrs\(\.4rem\,\.4rem\,0\,0\){
border-radius: .4rem .4rem 0 0;
}
.h\(70vw\){
height: 70vw;
}
@media(min-width:750px) {
.h\(50vw\)--sm{
height: 50vw;
}
}
@media(min-width:1000px) {
.h\(25vw\)--md{
height: 25vw;
}
}
.mb\(1em\){
margin-bottom: 1em;
}
.h\(25vw\){
height: 25vw;
}
@media(min-width:750px) {
.h\(15vw\)--sm{
height: 15vw;
}
}
@media(min-width:1000px) {
.h\(5vw\)--md{
height: 5vw;
}
}
.h\(2\.4rem\){
height: 2.4rem;
}
.w\(6rem\){
width: 6rem;
}
.m\(0\,0\,\.5rem\,0\){
margin: 0 0 .5rem 0;
}
.ml\(auto\,\!important\){
margin-left: auto !important;
}
.fz\(22px\,\!important\){
font-size: 22px !important;
}
.c\(\#ff0033\)\:h:hover{
color: #ff0033;
}
.mb\(0\){
margin-bottom: 0;
}
.c\(\#ff0033\){
color: #ff0033;
}
.fz\(\.8rem\){
font-size: .8rem;
}
.fxf\(row\,wrap\){
flex-flow: row wrap;
}
.m\(0\,auto\){
margin: 0 auto;
}
@media(min-width:750px) {
.w\(256px\)--sm{
width: 256px;
}
}
@media(min-width:1000px) {
.w\(512px\)--md{
width: 512px;
}
}
.fxw\(wrap\){
flex-wrap: wrap;
}
.bdt\(1px\,solid\,\#e6e6e6\){
border-top: 1px solid #e6e6e6;
}
.fz\(18px\){
font-size: 18px;
}
.p\(\.3rem\,\.6rem\){
padding: .3rem .6rem;
}
.m\(0\,\.4rem\,0\,0\){
margin: 0 .4rem 0 0;
}
.c\(\#009966\)\:h\:f:hover{
color: #009966;
}
.m\(auto\,0\){
margin: auto 0;
}
.h\(2rem\){
height: 2rem;
}
.c\(\#3b4351\){
color: #3b4351;
}
.h\(100\%\){
height: 100%;
}
.m\(0\,0\,0\,auto\){
margin: 0 0 0 auto;
}
.c\(\#ff0033\)\:h\:f:hover{
color: #ff0033;
}
.p\(\.6rem\,1\.2rem\){
padding: .6rem 1.2rem;
}
.fz\(22px\){
font-size: 22px;
}
.p\(\.8rem\,1\.2rem\){
padding: .8rem 1.2rem;
}
.bg\(\#fff\){
background: #fff;
}
.m\(0\,\.4rem\){
margin: 0 .4rem;
}
.c\(dark-gray\){
color: dark-gray;
}
.fz\(14px\){
font-size: 14px;
}
.m\(\.3rem\,0\,0\,\.4rem\){
margin: .3rem 0 0 .4rem;
}
.m\(auto\,\.4em\,auto\,0\){
margin: auto .4em auto 0;
}
.fz\(12px\){
font-size: 12px;
}
.fz\(16px\){
font-size: 16px;
}
.d\(block\){
display: block;
}
.m\(auto\,\.6rem\,auto\,0\){
margin: auto .6rem auto 0;
}
.w\(90\%\){
width: 90%;
}
.bdrs\(\.4rem\,0\,0\,0\){
border-radius: .4rem 0 0 0;
}
.w\(10\%\){
width: 10%;
}
.fz\(1\.1rem\){
font-size: 1.1rem;
}
.c\(mainColor\)\:h:hover{
color: mainColor;
}
.mt\(0\){
margin-top: 0;
}
.p\(\.2rem\,\.6rem\){
padding: .2rem .6rem;
}
.ml\(auto\){
margin-left: auto;
}
.p\(4px\){
padding: 4px;
}
.bdb\(1px\,solid\,\#e7e9f5\){
border-bottom: 1px solid #e7e9f5;
}
.p\(\.6rem\,0\){
padding: .6rem 0;
}
.mt\(auto\){
margin-top: auto;
}
.bdt\(1px\,solid\,\#e7e9f5\){
border-top: 1px solid #e7e9f5;
}
.p\(\.2rem\,0\){
padding: .2rem 0;
}
.b\(inherit\){
bottom: inherit;
}
.c\(\#00cc99\){
color: #00cc99;
}
.td\(underline\){
text-decoration: underline;
}
