/*=== Styles from components/links.gas ===*/

    #links {
        h1 {
            font-family: 'Poppins', sans-serif;
        }
        #links-list{
            display: flex;
            margin: 0;
            padding: 0;
            li {
                margin: 0;
                padding: 0;
                margin-right: .4rem;
            }
        }
    }

/*=== Styles from components/todo.gas ===*/

#todoList {
    .todo-list {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    #todo-footer { 
        nav {
            a {
                text-decoration: none;
                cursor: pointer;
                margin: 0 .24em;
                
                padding: 4px;
            }
            a:hover {
                padding: 3px;
                border: 1px solid #807FE2;
                border-radius: .4rem;
            }
            a.active {
                padding: 3px;
                border: 1px solid #5755d9;
                border-radius: .4rem;
            }
            &:first-child {
                margin: 0 .24em 0 0;
            }
        }
    }
}

/*=== Styles from main.gas ===*/

    @import "styles.scss";

    *,
    *:before,
    *:after {
        box-sizing: inherit;
        font-family: 'Roboto', sans-serif;
    }

    html,
    body {
        height: 100%;
    }

    #app {
        height: 100%;
        background-image: linear-gradient(180deg, #F0F8FF 0%, #fff 50%);
    }
    #app-wrap {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    a, b, strong, i/*, e.t.c */ {
        display: inline-block;
    }

    header#main-header {
        background: inherit;
        a {
            color: #2969b9;
        }
    }

    footer {
        color: rgba(0, 0, 0, 0.54);
        background-image: linear-gradient(0deg, #DFF8FF 0%, #fff 65%);
        #main-footer_createdWith-love {
            .svg-icon path,
            .svg-icon polygon,
            .svg-icon rect {
                fill: #ff0033;
            }
        }
    }

    /* styles for svg icons */
    .svg-icon {
        width: 1em;
        height: 1em;
    }

    .svg-icon path,
    .svg-icon polygon,
    .svg-icon rect {
        fill: #4691f6;
    }

    .svg-icon circle {
        stroke: #4691f6;
        stroke-width: 1;
    }

/*=== Styles from /home/noartem/go/pkg/mod/github.com/gascore/std@v0.0.0-20190718094442-aefb12ea6c03/components/modal/modal.gas ===*/

	.modal-window {
		align-items: center;
		bottom: 0;
		justify-content: center;
		left: 0;
		opacity: 0;
		overflow: hidden;
		padding: .4rem;
		position: fixed;
		right: 0;
		top: 0;
		display: flex;
		opacity: 1;
		z-index: 400;

		.modal-window_overlay {
			bottom: 0;
			display: block;
			left: 0;
			position: absolute;
			right: 0;
			top: 0;

			cursor: pointer;
		}

		.modal-window_container {
			background: #fff;
			border-radius: .6rem;
			box-shadow: rgba(125, 128, 147, 0.23) 0px 3px 11px 0px;
			transition: box-shadow .5s;
			display: flex;
			width: 100%;

			animatopn: slide-down .2s ease 1;
			z-index: 1;

			overflow: auto;
			flex-direction: column;
			
			&:hovered, &:focused {
				box-shadow: rgba(125, 128, 147, 0.46) 0px 3px 11px 0px;
			}
		}
	}

/*=== Styles from /home/noartem/go/pkg/mod/github.com/gascore/std@v0.0.0-20190718094442-aefb12ea6c03/components/tree/tree.gas ===*/

.tree {
  .tree-header {
    display: flex;

    .tree-hide-btn {
      margin: 0  0 0 auto;

      border: 0;
      padding: 0;
      background: inherit;
    }
  }

  ul.tree-items, .tree-directory-item ul {
    padding: 0 0 0 12px;
    margin: 0;
    list-style-type: none;
  }

  .tree-items {
    .tree-item {
      .tree-item-header {
        .tree-item-header__hide-btn {
          margin: 0 6px 0 0;
          border: 0;
          padding: 0;
          background: inherit;
          display: inline-block;
        }

        .tree-item-header__name {
          cursor: pointer;
          display: inline-block;
        }
      }
    }
  }
}

/*=== Styles from /home/noartem/go/pkg/mod/github.com/gascore/std@v0.0.0-20190718094442-aefb12ea6c03/components/vlist/vlist.gas ===*/

.vlist {
    width: 100%;
    height: 100%;
    overflow-x: auto;
    overflow-y: auto;
    position: relative;
}

.vlist-content {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.vlist-padding {
    width: 1px;
    height: 1px;
    opacity: 0;
}

/*=== Styles from components/components.gas ===*/

    #components {
        .dndFreeBoundary {
            display:flex;
            flex-wrap: wrap;

            .dndFree-wrap, .dndFreeWithHandle-wrap {
                margin: 12px 24px 12px 0;
                &:last-child {
                    margin-right: 0;
                }

                .dndFree, .dndFreeWithHandle {
                    padding: .1em .2em;
                    width:  128px;
                    height: 128px;
                    color: rgba(0, 0, 0, 0.87);
                    background: #fff;
                    font-size: 20px;
                    z-index: 1;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;

                    cursor: move;
                    user-select: none;
                    touch-action: none;

                    border-radius: .6rem;
                    box-shadow: rgba(125, 128, 147, 0.23) 0px 3px 11px 0px;
                    transition: box-shadow .5s;
                    animatopn: slide-down .2s ease 1;

                    &:hover, &:focus {
                        box-shadow: rgba(125, 128, 147, 0.46) 0px 3px 11px 0px;
                    }
                }
                .dndFree-active, .dndFreeWithHandle-active {
                    box-shadow: rgba(125, 128, 147, 0.46) 0px 3px 11px 0px;
                }

                .dndFreeWithHandle {
                    cursor: default;
                    .dndFree-handle {
                        position: absolute;
                        top: .6em;
                        right: .6em;
                        color: #ccc;
                        font-size: .8em;
                        cursor: move;
                    }
                }
            }
        }

        #trees {
            .tree {
                border: 1px solid #ccc;
                padding: 4px 8px;
                width: 100%;
                border-radius: 0.08em;
                margin-bottom: 8px;
            }
        }

        // layout
        .layout {
            height: 50vh;
            @media(max-width:750px) {
                height: 80vh;
            }

            width: 100%;

            .layout-item-1 {
                width: 100%;
            }
        }

        .layout2 {
            display:flex;
            height: 100%;

            .layout2-item {
                height: 100%;
            }
        }

        .layout-item-bd {
            border: 1px solid #388ffe;
            border-radius: 0.3rem;
            padding: 4px 8px;
            padding: .5em .3em;
            overflow-x: hidden;
            overflow-y: auto;
            height: 100%;
            width: 100%;
            font-size: 20px;
            color: #2E75D6;
        }

        .layout3 {
            height: 100%;
            .layout3-item {
                width: 100%;
            }
        }

        // vlist
        .vlist {
            border-radius: 0.3rem;
            border: 1px solid #388ffe;
            ul {
                padding: 0;
                margin: 0;
                list-style-type: none;

                li {
                    color: #2E75D6;
                    margin: 0;
                    padding: .4rem;
                    border: 0;
                    border-bottom: 1px solid #388ffe;
                    height: 100%;
                }
            }
        }
        #vlist-vert {
            .vlist {
                overflow-y: hidden;
                ul {
                    display: flex;
                    li {
                        padding: .8rem;
                        border: 0;
                        border-right: 1px solid #388ffe;
                    }
                }
            }
        }

        // dnd-lists
        .dnd-group {
            min-height: 96px;
            min-width: 192px;
            list-style-type: none;
            padding: 2px 4px 12px 4px;
            margin: 0;
            height: 100%;
        }
        .dnd-group-contentBlock {
            height: 100%;
            width: 100%;
        }

        .dnd {
            border: 1px solid #ccc;
            border-radius: 4px;
            padding: 0;
            list-style-type: none;

            display: inline-block;
            vertical-align: top;

            min-height: 64px;
            min-width: 148px;
            max-width: 100%;
            background: white;
            overflow: hidden;
            
            .dnd-placeholder {
                opacity: 0;
            }

            .dnd-item {
                background: #ffffff;
                border-bottom: 1px solid #ccc;
                padding: .4em .8em .2em .8em;
                min-height: 2.6rem;

                &:last-child {
                    border-bottom: 0;
                }

                .dnd-preview {
                    //box-sizing: border-box;
                    border-radius: 4px;
                    border: 1px solid #ccc;
                    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                    0 8px 10px 1px rgba(0, 0, 0, 0.14),
                    0 3px 14px 2px rgba(0, 0, 0, 0.12);
                }
            }
        }
        #dnds {
            h3 {
                font-size: 1.05rem;
            }

            #dndLipsum {
                .dnd-item {
                    color: #302ECD;
                }
            }

            #dnd1, #dnd2, #dnd3, #dndA {
                margin: 0 .2rem;
                padding: 0;
                display: inline-block;
            }
        }
        .dnd-dragging .dnd:not(.dnd-placeholder) {
            transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
        }
    }

/*=== Styles from components/home.gas ===*/

    #home {
        a {
            margin: .8rem .8rem 0 0;
        }
    }

