html[data-theme='dark'] {
    --boxShadowBorder: rgb(103, 103, 107);
    --boxShadowColor: none;
    --boxShadowColorHover: none;
    #app,
    #main-footer {
        background: inherit !important;
    }
}