#components {
    .dndFreeBoundary {
        display: flex;
        flex-wrap: wrap;
        .dndFree-wrap,
        .dndFreeWithHandle-wrap {
            margin: 12px 24px 12px 0;
            &:last-child {
                margin-right: 0;
            }
            .dndFree,
            .dndFreeWithHandle {
                padding: .1em .2em;
                width: 128px;
                height: 128px;
                font-size: 20px;
                z-index: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                cursor: move;
                user-select: none;
                touch-action: none;
                border-radius: 1rem;
                @include boxShadow();
                @include boxShadowHover();
            }
            .dndFree-active,
            .dndFreeWithHandle-active {
                touch-action: none;
                user-select: none;
                @include boxShadowHover();
            }
            .dndFreeWithHandle {
                cursor: default;
                .dndFree-handle {
                    position: absolute;
                    top: .6em;
                    right: .6em;
                    font-size: .8em;
                    cursor: move;
                }
            }
        }
    }
    #trees {
        .tree {
            @include boxShadow();
            padding: 4px 8px;
            width: 100%;
            border-radius: 0.14em;
            margin-bottom: 8px;
        }
    }
    // layout
    .layout-item-bd {
        border: 1px solid var(--color-primary);
        border-radius: 0.6rem;
        padding: 4px 8px;
        padding: .5em .3em;
        overflow-x: hidden;
        overflow-y: auto;
        height: 100%;
        width: 100%;
        font-size: 20px;
        color: var(--color-second-primary);
    }
    .layout {
        height: 50vh;
        @media(max-width: 750px) {
            height: 80vh;
        }
        width: 100%;
        .layout-item-1 {
            width: 100%;
        }
    }
    .layout2 {
        display: flex;
        height: 100%;
        .layout2-item {
            height: 100%;
        }
    }
    .layout3 {
        height: 100%;
        .layout3-item {
            width: 100%;
        }
    }
    // vlist
    .vlist {
        border-radius: 0.6rem;
        border: 1px solid var(--color-primary);
        ul {
            padding: 0;
            margin: 0;
            list-style-type: none;
            li {
                color: var(--color-second-primary);
                margin: 0;
                padding: .4rem;
                border: 0;
                border-bottom: 1px solid var(--color-primary);
                height: 100%;
            }
        }
    }
    #vlist-vert {
        .vlist {
            overflow-y: hidden;
            ul {
                display: flex;
                li {
                    padding: .8rem;
                    border: 0;
                    border-right: 1px solid var(--color-primary);
                }
            }
        }
    }
    // dnd-lists
    .dnd-group {
        min-height: 96px;
        min-width: 192px;
        list-style-type: none;
        padding: 2px 4px 12px 4px;
        margin: 0;
        height: 100%;
    }
    .dnd-group-contentBlock {
        height: 100%;
        width: 100%;
    }
    .dnd {
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 0;
        list-style-type: none;
        display: inline-block;
        vertical-align: top;
        min-height: 64px;
        min-width: 148px;
        max-width: 100%;
        background: white;
        overflow: hidden;
        .dnd-placeholder {
            opacity: 0;
        }
        .dnd-item {
            background: #ffffff;
            border-bottom: 1px solid #ccc;
            padding: .4em .8em .2em .8em;
            min-height: 2.6rem;
            &:last-child {
                border-bottom: 0;
            }
            .dnd-preview {
                //box-sizing: border-box;
                border-radius: 4px;
                border: 1px solid #ccc;
                box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
            }
        }
    }
    #dnds {
        h3 {
            font-size: 1.05rem;
        }
        #dndLipsum {
            .dnd-item {
                color: #302ECD;
            }
        }
        #dnd1,
        #dnd2,
        #dnd3,
        #dndA {
            margin: 0 .2rem;
            padding: 0;
            display: inline-block;
        }
    }
    .dnd-dragging .dnd:not(.dnd-placeholder) {
        transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }
    .modal-window_container {
        @include boxShadow();
    }
}